
.aboutUsContainer {
    margin: 115px 0px;
}

.aboutText{
    margin-bottom: 100px;
}

.aboutUsBtnsBox{
    margin-top: 65px;
    gap: 40px;
    display: flex;
    justify-content: center;

    .getStartedBtn{
        padding: 15px 10px;
        background: none;
        border: 1px solid black;
    }
    
    .learnMoreBtn{
        border: none;
        background: none;
        font-weight: 700;
    }
}