.cardEvent{
    display: flex;
    gap: 10px;
    flex-direction: column;

    > input[type="datetime-local"]{
        max-width: 190px;
    }

    > .btn{
        width: 190px
    }
}

.eventDecision {
    background: white;
    padding: 10px 10px 0px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}