@import "header.css";
@import "homeNavbar.css";
@import "hero.css";
@import "aboutUs.css";
@import "tech.css";
@import "team.css";
@import "footer.css";
@import "signInUp.css";
@import "crudEvent.css";
@import "cardEvent.css";
@import "heroSection.css";
button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.loggedNavbar{
    background-color: #304151 !important;
}

.logoEventec{
    color: black;
    background: white;
    padding: 5px 10px;
    border-radius: 7px;
}