.eventecHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
    pointer-events: none;
}
.shadowContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.eventecAndWords{
    pointer-events: none;
    >h1 {
        font-size: 60px;
        color: white;
        font-weight: 600;
        text-shadow: 2px 2px 10px #eb3324;    
    }

    >h2 {
        font-size: 90px;
        text-shadow: 2px 2px 100px #000000;    
        color: #ffffff;
    }
}


@media (max-width: 768px) {
    .eventecAndWords{
        pointer-events: none;
        >h1 {
            font-size: 40px;
            color: white;
            font-weight: 600;
            text-shadow: 2px 2px 10px #eb3324;    
        }
    
        >h2 {
            font-size: 60px;
            text-shadow: 2px 2px 100px #000000;    
            color: #ffffff;
        }
    }
}



:root {
	--gradient-shadow: linear-gradient(
		45deg,
		
		#3d4f5d,
		#ffffff,
		
		#eb3324,
		
		#3d4f5d,
		#ffffff,
		
		#eb3324
	);
}

.shadow {
    text-decoration: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: linear-gradient(0deg, rgb(16 16 16), rgb(22 22 22 / 83%));
}
.shadow:before,
.shadow:after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background: var(--gradient-shadow);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}

.shadow:after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}
