@keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100px * 7)); /* Adjust to match the number of slides */
    }
  }
  
  
  .slider {
    background: pr;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height:80vh; /* Set the height of the slider container */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 250px; /* Set the width of the slider container to match the slide width */
  }
  
  /* Rest of the CSS remains the same */
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  
  .slider::after {
    bottom: 0;
  }
  
  .slider::before {
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    height: calc(100px * 14); /* Adjust the height to match the total slide height */
    flex-direction: column; /* Change the direction to vertical */
  }
  
  .slider .slide {
    height: 100px; /* Set the height of each slide */
    width: 250px;
    margin-top: 15px;
  }
  

@media (max-width: 1200px){
  .secondSlider{
    display: none;
}  
}