.myAccountBox{
    border: 1px solid rgb(230, 230, 230);
    background: white;
    padding: 30px;

    > form{
        margin-top: 30px;
    }
}

.container-bg{
    background: #f6f6f6;
    padding-top: 50px;
    > .container{
        min-height: 80vh;
    }
}

.changePasswordContainer {
    margin-top: 50px;
    display: flex;
}

.menuContainer{
    height: 100%;
}